*.o
config.h
config.h.in
config.h.in~
configure.ac~
aclocal.m4
autom4te.cache
GNUmakefile
configure
configure~
config.log
config.status
doc/rdup-simple.1
doc/rdup-tr.1
doc/rdup-up.1
doc/rdup.1
rdup
rdup-tr
rdup-tr.h
rdup-up
rdup-up.h
rdup.h

