.mC {width:700px; margin:5px; float:left;}
.mH {color:#800000; cursor:pointer;  font-size: large; font-weight:bold; border-top:1px solid #777;}
.mL {display:none; margin-bottom:10px;}
.mO {margin-left:10px; display:block; font-size: larger; font-weight: bold;}
