COMPRESSION=1
LANG=NL
ENCRYPTION=0
ENCRYPTION_KEY=
LOCKFILE=/var/lock/rdup
DIRECTORY=/nfs/windows
BACKUP=/home/miekg/miek.nl/php/A
HTPASSWD=/home/miekg/php/.htpasswd
FIFO=rdupd.fifo
RDUPSH=rdup.sh
SMBSHARE=smb:///bllaat
FREE=10
MAIL=jan@hotmail.com
